@-webkit-keyframes shakey {
	0% { left: -3px; }
	25% { left: 3px; }
	50% { left: -3px; }
	75% { left: 3px; }
	100% { left: 0; }
}
@-moz-keyframes shakey {
	0% { left: -3px; }
	25% { left: 3px; }
	50% { left: -3px; }
	75% { left: 3px; }
	100% { left: 0; }
}
@-ms-keyframes shakey {
	0% { left: -3px; }
	25% { left: 3px; }
	50% { left: -3px; }
	75% { left: 3px; }
	100% { left: 0; }
}
@-o-keyframes shakey {
	0% { left: -3px; }
	25% { left: 3px; }
	50% { left: -3px; }
	75% { left: 3px; }
	100% { left: 0; }
}
@keyframes shakey {
	0% { left: -3px; }
	25% { left: 3px; }
	50% { left: -3px; }
	75% { left: 3px; }
	100% { left: 0; }
}
