/* post title */
h1.posttitle,
h2.posttitle {
	position: relative;

	-webkit-text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF, 2px 2px 1px #CCC;
	text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF, 2px 2px 1px #CCC;
}
